<table class="table table-striped">
  <tr>
    {%if not hide_hosts%}<th>Host</th>{%endif%}
    <th>Name</th><th>Template</th><th>Release</th><th>State</th><th>Actions</th>
  </tr>
  {% for h in hosts %}
  {% for c in h.container_list %}
  <tr>
    {%if not hide_hosts%}<td><a href="{{url_for('host', name=h.name)}}">{{h.name}}</a></td>{%endif%}
    <td><a href="{{url_for('host_container', host=h.name, container=c.name)}}">{{c.name}}</a></td>
    <td>{{c.template}}</td>
    <td>{{c.release}}</td>
    <td>{{c.state}}</td>
    <td>
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Actions <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" onclick="removeContainer('{{h.name}}', '{{c.name}}')">
               <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
               destroy
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" onclick="reCreateContainer('{{h.name}}', '{{c.name}}')">
               <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
               re-create
              </a>
            </li>
{% if c.state in ('QUEUED', 'RUNNING')%}
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" onclick="containerState('{{h.name}}', '{{c.name}}', false)">
               <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
               stop
              </a>
            </li>
{% endif %}
{% if c.state == 'STOPPED'%}
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" onclick="containerState('{{h.name}}', '{{c.name}}', true)">
               <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
               start
              </a>
            </li>
{% endif %}
          </ul>
      </div>
    </td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
