{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
{% include 'common.js' %}
</script>
  <h2>CYA Host: {{host.name}}</h2>
  <table class="table table-condensed">
    <tr><th>Enlisted</th><td>{{host.enlisted}}</td></tr>
    <tr><th>Distro</th><td>{{host.distro_id}} {{host.distro_release}} ({{host.distro_codename}})</td></tr>
    <tr><th>Total Memory</th><td>{{host.mem_total|filesizeformat}}</td></tr>
    <tr><th>CPU</th><td>{{host.cpu_total}} - {{host.cpu_type}}</td></tr>
    <tr><th>Online</th><td>{{host.online}}</td></tr>
  </table>

  <h3>Containers</h3>
  {% set hosts = [host] %}
  {% set hide_hosts = True %}
  {% include 'containers.html' %}
{% endblock %}
