{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
function removeContainer(container) {
  var form = document.createElement("form");
  form.setAttribute("method", "post");
  form.setAttribute("action", "{{url_for('remove_container')}}");
  var hiddenField = document.createElement("input");
  hiddenField.setAttribute("type", "hidden");
  hiddenField.setAttribute("name", "host");
  hiddenField.setAttribute("value", "{{host.name}}");
  form.appendChild(hiddenField);

  hiddenField = document.createElement("input");
  hiddenField.setAttribute("type", "hidden");
  hiddenField.setAttribute("name", "name");
  hiddenField.setAttribute("value", container);
  form.appendChild(hiddenField);
  document.body.appendChild(form);
  form.submit();
}
function reCreateContainer(container) {
  var form = document.createElement("form");
  form.setAttribute("method", "post");
  form.setAttribute("action", "{{url_for('recreate_container')}}");
  var hiddenField = document.createElement("input");
  hiddenField.setAttribute("type", "hidden");
  hiddenField.setAttribute("name", "host");
  hiddenField.setAttribute("value", "{{host.name}}");
  form.appendChild(hiddenField);

  hiddenField = document.createElement("input");
  hiddenField.setAttribute("type", "hidden");
  hiddenField.setAttribute("name", "name");
  hiddenField.setAttribute("value", container);
  form.appendChild(hiddenField);
  document.body.appendChild(form);
  form.submit();
}
</script>
  <h2>CYA Host: {{host.name}}</h2>
  <table class="table table-condensed">
    <tr><th>Enlisted</th><td>{{host.enlisted}}</td></tr>
    <tr><th>Distro</th><td>{{host.distro_id}} {{host.distro_release}} ({{host.distro_codename}})</td></tr>
    <tr><th>Total Memory</th><td>{{host.mem_total|filesizeformat}}</td></tr>
    <tr><th>CPU</th><td>{{host.cpu_total}} - {{host.cpu_type}}</td></tr>
  </table>

  <h3>Containers</h3>
  <table class="table table-striped">
    <tr><th>Name</th><th>Template</th><th>Release</th><th>Requested</th>
        <th>Created</th><th>Max Mem</th><th>Init Script</th><th>Remove/Re-Create</th></tr>
    {% for c in host.containers %}
    <tr>
      <td>{{c.name}}</td>
      <td>{{c.template}}</td>
      <td>{{c.release}}</td>
      <td>{{c.requested_str}}</td>
      <td>{{c.created_str}}</td>
      <td>{{c.max_memory|filesizeformat}}</td>
      <td>
        {% if c.init_script %}
	<a href="#" data-toggle="popover" title="Init Script" data-placement="left" data-content="{{c.init_script}}">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a>
	{% endif %}
      </td>
      <td>
        <button onclick="removeContainer('{{c.name}}')" type="button" class="btn btn-sm" aria-label="remove">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button onclick="reCreateContainer('{{c.name}}')" type="button" class="btn btn-sm" aria-label="remove">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    {% endfor %}
  </table>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
  </script>
{% endblock %}
