{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
{% include 'common.js' %}
</script>

  {% if session.openid %}
  <a href="{{ url_for('ui_create_container') }}" class="btn btn-default" role="button">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Container
  </a>
  {% endif %}
  <h2>Hosts</h2>
  <table class="table table-striped">
  <tr>
    <th>Name</th><th>Enlisted</th><th>Online</th><th>Release</th><th>Memory</th><th>CPU's</th><th>Arch</th><th>Containers</th>
  </tr>
  {% for h in hosts %}
    <tr>
      <td><a href="{{url_for('host', name=h.name)}}">{{h.name}}</a></td>
      <td>{{h.enlisted}}</td>
      <td>{{h.online}}</td>
      <td>{{h.distro_codename}}</td>
      <td>{{h.mem_total|filesizeformat}}</td>
      <td>{{h.cpu_total}}</td>
      <td>{{h.cpu_type}}</td>
      <td>{{h.container_list|length}}</td>
    </tr>
  {% endfor %}
  </table>

  <h2>Queued  Requests</h2>
  <table class="table table-striped">
  <tr>
    <th>Name</th><th>Date Requested</th><th>Requested By</th>
  </tr>
  {% for r in requests %}
  <tr>
    <td>{{r.name}}</td>
    <td>{{r.requested_str}}</td>
    <td>{{r.requested_by}}</td>
  </tr>
  {% endfor %}
  </table>

  <h2>Containers</h2>
  {% include 'containers.html' %}
{% endblock %}
