{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
function addScript() {
  var e = document.createElement('div');
  e.innerHTML = '<div class="form-group"><div class="form-inline">' +
                '<label for="script-name">Name:</label> ' +
		'<input type="string" class="form-control" name="script-name" placeholder="Name"/>' +
                '<button onclick="e=event.target.parentNode.parentNode; e.parentNode.removeChild(e)" class="btn btn-sm"><span class="glyphicon glyphicon-remove" title="delete script"></span></button>' +
                '</div>' +
		'<textarea name="script-content" class="form-control" rows="6"></textarea>' +
                '</div>';
  document.getElementById('scripts').appendChild(e);
}
</script>

  <h3>Host install</h3>
  <pre>#Go to your favorite install place like /srv
curl http://&lt;CYA SERVER&gt;:8000/client_install.sh | sudo bash</pre>

  <h3>{{g.user.nickname}} settings</h3>
  <table class="table table-condensed">
    <tr><th>Email</th><td>{{g.user.email}}</td></tr>
    <tr><th>Approved</th><td>{{g.user.approved}}</td></tr>
    <tr><th>API Token</th><td><pre>{{g.user.api_key}}</pre></td></tr>
  </table>

  <h3>Shared Storage</h3>
  <table class="table table-striped">
    <tr><th>Name</th><th>Type</th><th>Source</th></tr>
    {% for item in shared_storage %}
    <tr><td>{{item.name}}</td><td>{{item.type}}</td><td>{{item.source}}</td></tr>
    {% endfor %}
  </table>

  <button class="btn btn-default" data-toggle="modal" data-target="#createVol">
    Create New Volume
  </button>

  <div class="modal fade" id="createVol" tabindex="-1" role="dialog"
     aria-labelledby="createVolLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form class="form-horizontal" role="form" action="{{ url_for('shared_storage_settings') }}" method=post>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Create New Volume</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="volname">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="volname" name="volname" placeholder="name"/>
              </div>
            </div>
	    <div class="form-group">
              <label class="col-sm-2 control-label" for="voltype">Type</label>
              <div class="col-sm-10">
                <select class="form-control" id="voltype" name="voltype">
                  <option>nfs</option>
                </select>
              </div>
            </div>
	    <div class="form-group">
              <label class="col-sm-2 control-label" for="volsource">Source</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="volsource" name="volsource" placeholder="1.1.1.1:/foo"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Create"/>
        </div>
      </form>
      </div>
    </div>
  </div>

  <h3>User Defined Init Scripts</h3>
  <form action="{{ url_for('user_settings') }}" method=post>
    <div id="scripts">
      {% for script in user_scripts %}
      <div class="form-group">
        <div class="form-inline">
          <label for="script-name">Name:</label>
          <input type="string" class="form-control" name="script-name" value="{{script.name|safe}}">
          <button onclick="e=event.target.parentNode.parentNode; e.parentNode.removeChild(e)" class="btn btn-sm"><span class="glyphicon glyphicon-remove" title="delete script"></span></button>
        </div>
        <textarea name="script-content" class="form-control" rows="6">{{script.content|safe}}</textarea>
      </div>
      {% endfor %}
    </div>
    <button type="button" class="btn btn-default" onclick="addScript()">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create Script
    </button>
    <br/>
    <input type="submit" class="btn btn-default" value="Submit"/>
  </form>
{% if g.user.admin %}
  <h3>Global Settings</h3>
  <form action="{{ url_for('global_settings') }}" method=post>
    <table class="table table-condensed">
      <tr>
        <th>Debug</th>
	<td><input name="DEBUG" type="checkbox" {%if settings.DEBUG%}checked{%endif%}/></td>
      </tr>
      <tr>
        <th>Auto Approve Users</th>
	<td><input name="AUTO_APPROVE_USER" type="checkbox" {%if settings.AUTO_APPROVE_USER%}checked{%endif%}/></td>
      </tr>
      <tr>
        <th>Auto Enlist Hosts</th>
	<td><input name="AUTO_ENLIST_HOSTS" type="checkbox" {%if settings.AUTO_ENLIST_HOSTS%}checked{%endif%}/></td>
      </tr>
    </table>
    <input type="submit" class="btn btn-default" value="Submit"/>
  </form>
  <h3>User admin</h3>
  <form action="{{ url_for('user_admin') }}" method=post>
    <table class="table table-condensed">
      <tr><th>user</th><th>approved</th><th>admin</th></tr>
      {% for user in users %}
      <tr>
        <td>{{user.nickname}}</td>
        <td><input name="approved-{{user.openid}}" type="checkbox" {%if user.approved%}checked{%endif%}/></td>
        <td><input name="admin-{{user.openid}}" type="checkbox" {%if user.admin%}checked{%endif%}/></td>
      </tr>
      {% endfor %}
    </table>
    <input type="submit" class="btn btn-default" value="submit"/>
  </form>
{% endif %}
{% endblock %}
